.text{
    padding-left: 200px;
    
}
.main-img{
    padding-top: 30px;
    padding-left: 100px;
}
.font1{
    color: grey;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.font2{
    color: grey;
    font-size: 130%;
}
.yrow{
    padding-top: 20px;
}
.signup{
    background-color: rgb(223, 220, 218);
}
.font3{
    color: rgb(84, 71, 71);
}
.ftr{
    margin-top: 300px;
}
